.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
  height: 300px;
}

.shopcategory-indexSort {
  display: flex;
  margin: 0 170px;
  justify-content: space-between;
  align-items: center;
}

.shopcategory-sort {
  width: 80px;
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
  display: flex;
  align-items: center;
}

.shopcategory-sort img {
  width: 20px;
  height: 20px;
}

.shopcategory-indexSort p span {
  font-weight: 600;
}

.shopcategory-products {
  margin: 20px 170px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 80px;
}
